<div class="container">

  <div class="boton1">

    <img src="./assets/linkedin.png" input type="button" id="sitio" (click)="abrirLink('https://www.linkedin.com/in/gaston-yago-fernandez-305982212/')">

  </div>

  <div class="boton2">

    <img src="./assets/whatsapp.png" input class="boton2" type="button" id="wapp" (click)="abrirLink('https://api.whatsapp.com/send?phone=541150063223&text=Buenos%20dias,%20estamos%20interesados%20%20en%20ponernos%20en%20contacto%20con%20vos!')">
    
    
  </div>

  <div class="boton3">
    
    <img src="./assets/mail.png" input type="button" id="correo" (click)="abrirLink('gaston.y.fernandez@gmail.com')"><!--COMPLETAR ESTE BOTON-->
  </div>
</div>

  <br/>

  <div class="form">
   
  
    <form>
      <div class="form-row">
        <div class="ss">
          <label for="validationDefault01">First name</label>
          <input type="text" class="form-control" id="validationDefault01" placeholder="First name"  required>
        </div>
        <div class="ss">
          <label for="validationDefault02">Last name</label>
          <input type="text" class="form-control" id="validationDefault02" placeholder="Last name"  required>
        </div>
        <div class="ss">
          <label for="validationDefaultUsername">Mail</label>
          <div class="input-group">
            <div class="input-group-prepend">
              
            </div>
            <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Mail" aria-describedby="inputGroupPrepend2" required>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="ss">
          <label for="validationDefault03">City</label>
          <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
        </div>
        <div class="ss">
          <label for="validationDefault04">State</label>
          <input type="text" class="form-control" id="validationDefault04" placeholder="State" required>
        </div>
        <div class="ss">
          <label for="validationDefault05">Country</label>
          <input type="text" class="form-control" id="validationDefault05" placeholder="Country" required>
        </div>
      </div>
      <br>
      <div class="bsend">
      <button class="btn btn-primary" type="submit">Send</button>
      </div>
    </form>
  </div>












