h2{
    color:white;

}

h3{
    color:white;

    font-family:"Dejavu Sans";

}

.container{
    position: relative;
    margin: auto;
    width: 380px;
    height: 110px;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 0;
    

}

.boton1{
    position: absolute;
    width: 150px;
    height: 100px;
     width: 100px;
     top: 0px;
     bottom: 0;
     right: 0px;
     left: 0;
    

}

.boton2{
    position: absolute;
    width: 150px;
    height: 100px;
     width: 100px;
     top: 0px;
     bottom: 0;
     right: 0px;
     left: 70px;
    

}

.boton3{
    position: absolute;
    width: 150px;
    height: 100px;
     top: 0px;
     bottom: 0;
     right: 0;
     left: 270px;
    

}








img{
    height: 100px;
    width: 100px;

}

.form{

    position: relative; 
    width: 500px;
    height: 550px;
    top: 120px;
    margin: auto;
    bottom: 0;
    color:white;
    
}



