<div class="nav">
<nav class="navbar bg-light">

   
    <ul class="navbar-nav">
      <p class="nav-item">
        <a class="nav-link" href="#">Inicio</a>
      </p>
      <p class="nav-item">
        <a class="nav-link" href="/Conocimientos">Conocimientos</a>
      </p>
      <p class="nav-item">
        <a class="nav-link" href="/Proyectos">Proyectos</a>
      </p>
      <p class="nav-item">
        <a class="nav-link" href="/Contacto">Contacto</a>
      </p>
    </ul>
  
  </nav>
</div>
  <router-outlet></router-outlet>

