h3{
    color:white;

    font-family:"Dejavu Sans";

}

p{
    color: white;
}

img{
    height: 80%;

    width: 80%;

}

.construccion {
    position: absolute;
    width: 500px;
    height: 300px;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 25%;
    
}