h1{
    font-family:"Helvetica";

    color:white;
}

h3{
    color:white;

    font-family:"Dejavu Sans";

}

p{
    color: white;

    font-family:"Arial";

    width: 500px;

}

img{
    height: 100px;

    width: 100px;

    

}

.cajacont{
    
    position: absolute;
    width: 500px;
    height: 300px;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 25%;

}

.yo{
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 75%;
}

.info{
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 00px;
    left: 00px;

}
