<div class="cajacont">

<div class="yo">
    <img src="./assets/yo.png">

    
</div>

<div class="info">

<h1>Gastón Fernández</h1>

<h3>Conozcámonos!</h3>

<p>Desde el momento en que conocí las computadoras llamo mi atención y quise saber ¿cómo funcionan? ¿Cómo se genera una página web? Supe entonces que lo quería en mi vida era poder llegar a desarrollar unas de mis ideas planteada en mis pensamientos y que pueda ser vista y apreciada por los demás, al momento que supe lo que es ser un programador decidí convertirme en uno,y así lograr lo que me había propuesto.</p>

</div>


</div>
